body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

#calculator {
  width: fit-content;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 18%);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 2px 13px 2px #969696;
}

#display {
  color: white;
  text-align: right;
  width: 262px;
  padding: 20px;
  background-color: hsl(0, 0%, 15%);
  font-size: 2rem;
  border-right: none;
  border-bottom: 2px solid #7e7d7d8f;
}

#keys {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 18px;
  padding: 18px;
  justify-content: center;
  bottom: -72px;
}

button {
  color: white;
  background-color: hsl(0, 0%, 30%);
  height: 53px;
  width: 53px;
  border-radius: 50px;
  border: none;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 2px 6px black;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.489);
}

button:active {
  background-color: hsl(0, 0%, 45%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.128);
}

#oparetor {
  background-color: hsl(36, 100%, 48%);
}

#oparetor:last-child {
  position: relative;
  top: -284px;
  right: -142px;
}

.oparetor6 {
  font-size: 20px;
  position: relative;
  top: -353px;
  right: -142px;
}

.first-oparetor {
  position: relative;
  bottom: 70px;
}

#oparetor:hover {
  background-color: hsl(36, 100%, 60%);
}

#oparetor:active {
  background-color: hsl(36, 100%, 70%);
}
