body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

#calculator {
  width: fit-content;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 18%);
  border-radius: 15px;
  overflow: hidden;
}

#display {
  color: white;
  text-align: right;
  width: 262px;
  padding: 20px;
  background-color: hsl(0, 0%, 15%);
  font-size: 2rem;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 18px;
  padding: 18px;
  justify-content: center;
}

button {
  color: white;
  background-color: hsl(0, 0%, 30%);
  height: 53px;
  width: 53px;
  border-radius: 50px;
  border: none;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
}
